@media screen and (max-width: 1300px) {
    #products_grid {
        grid-template-columns: 280px 280px;
    }

    #our_products .left {
        grid-column-start: 1;
        grid-column-end: 3;
    }
} 

@media screen and (max-width: 1300px) {
    #products_grid {
        grid-template-columns: 280px 280px;
    }

    #our_products .left {
        grid-column-start: 1;
        grid-column-end: 3;
    }

}

@media screen and (max-width: 620px) {
    #products_grid {
        grid-template-columns: 280px;
        grid-gap: 70px 0;
    }

    #our_products .left {
        grid-column-start: 1;
        grid-column-end: 2;
        width: 280px;
    }
}