@media screen and (max-width: 1240px) {
    #contact {
        grid-template-columns: 500px ;
    }

    #contact h3 {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    #width {
        width: 0;
    }
}

@media screen and (max-width: 570px) {
    #contact {
        grid-template-columns: 290px ;
    }

    #contact form input, #contact textarea {
        width: 270px;
    }

    #contact form input[type="submit"] {
        width: 290px;
    }

    #contact .maps {
        grid-template-columns: 235px ;
        margin-left: 15px;
    }

} 