@media screen and (max-width: 1230px) {
    #solutions .grid {
        grid-template-columns: 529px ;
        grid-gap: 40px 0;
    }

    #solutions .left {
        grid-column-start: 1;
        grid-column-end: 1;
    }

    #solutions .left p, #solutions .left h3 {
        margin: 20px 0px;
        padding: 0;
    }

    #solutions .grid h4 {
        font-size: 120%;
    }
}

@media screen and (max-width: 560px) {
    #solutions .grid {
        grid-template-columns: 320px;
    }

    #solutions .left {
        width: 300px;
    }

    #solutions .left h3 {
        margin-bottom: 40px;
    }

    #solutions a {
        font-size: 90%;
    }
}