@media screen and (max-width: 1280px) {
    #reviews {
        grid-template-columns: 616px ;
        grid-gap: 20px 0;
    }

    #reviews h2 {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    #width {
        width: 0;
    }
} 

@media screen and (max-width: 1300px) {
    #letters {
        grid-template-columns: 300px;
    }

    #letters img {
        width: 300px;
    }
}

@media screen and (max-width: 660px) {
    #reviews {
        grid-template-columns: 316px ;
        grid-gap: 20px 0;
    }

    #reviews .grid {
    grid-template-columns: 150px 150px;
    grid-gap: 0;
    }

    #reviews .grid .cell:nth-child(1) img {
        width: 150px;
    }

    #reviews p {
        font-size: 90%;
    }

    #reviews .blue {
        font-size: 80%;
    }

    #letters {
        grid-template-columns: 300px;
    }

    #letters h4 {
        grid-column-start: 1;
        grid-column-end: 2;
    }
}
