@media screen and (max-width: 1270px) {
    #news .news {
        grid-template-columns: 610px;
        grid-gap: 20px 0;
    }

    #news .news h3 {
        grid-column-start: 1;
        grid-column-end: 2;
    }
}

@media screen and (max-width: 640px) {

    #news .news {
        grid-template-columns: 310px;
        grid-gap: 20px 0;
    }
    #news .size {
        width: 270px;
    }

    #news .first_child {
        height: 450px;
    }
    #news .grid_news {
        grid-template-columns: 174px;
    }

    #news .grid_news .cell {
        padding: 20px 0;
    }

    #news .grid_news a {
        position: absolute;
        margin-left: 110px;
        margin-top: -15px;
    }

    #news .height {
        height: 1300px;
    }
}