@media screen and (max-width: 1270px) {
    #products {
        grid-template-columns: 200px 613px;
    }

    .grid_product {
        grid-template-columns: 296px 296px;
    }
   
   
}

@media screen and (max-width: 870px) {
    .grid_product {
        grid-template-columns: 296px;
    }

    #products {
        grid-template-columns: 200px 296px;
    }
}

@media screen and (max-width: 620px) {
    #products img {
        width: 100px;
    }

    .border_active_of {
        width: 285px;
    }

    .grid_product .stl {
        width: 37px !important;
        margin: 10px -78px 10px 10px;
    }

    #showcase p {
        font-size: 80%;
    }

    #products {
        display: grid;
        grid-template-columns: 130px 150px;
        margin-left: 0;
        margin-top: 15px;
    }

    #showcase ul li {
        margin-right: 0px;
        margin-bottom: 10px;
        float: none;
    }

    #showcase ul {
        padding-bottom: 20px !important;
        margin-top: 50px;
        height: 78px;
    }

    #menu_products {
        width: 210px;
        
    }

    #showcase ul li a:hover {
        color: #00060e;
        color: #55ACEE;
      }

    .grid_product {
        grid-template-columns: 150px;
    }

    #products a {
        padding-right: 20px;
    }

    #products label {
        font-size: 80%;
    }
    #showcase .left {
        width: 300px;
    }

    #showcase h3 {
        font-size: 100%;
    }

    #showcase .left p {
        font-size: 90%;
    }

    #showcase .left a {
        font-size: 90%;
        padding-bottom: 5px;
    }
}
